@charset "UTF-8";

.flex{
    display: flex;
}
@media (1200px <= width) {
    .header_inner{
        margin: 10px;
        width: 70px;
        height: 30px;
        background-color: black;
        color:white;
        margin-left: 250px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (600px <= width < 1200px) {
    .header_inner{
        margin: 10px;
        width: 100px;
        height: 30px;
        background-color: black;
        color:white;
        margin-left: 100px;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (width < 600px) {
    .header_inner{
        margin: 10px;
        width: 70px;
        height: 30px;
        background-color: black;
        color:white;
        margin-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (1200px <= width) {
    .navi{
        margin:10px;
        padding-left: 700px;
        display: flex;
    }
}
@media (600px <= width < 1200px) {
    .navi{
        margin:10px;
        padding-left: 300px;
        display: flex;
    }
}
@media (width < 600px) {
    .navi{
        margin: 10px;
        padding-left: 150px;
        display: flex;
    }   
}


.navi1{
    padding-right: 20px;
}

.photo{
    width:100%;
    height: 350px;
    object-fit: cover;
}

@media (600px <= width < 1200px) {
    .photo{
        width: 100%;
        height: 500px;
        object-fit: cover;
    }
}

@media (1200px <= width) {
    .flex_menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (600px <= width < 1200px) {
    .flex_menu{
        text-align: center ;
    }
}
@media (width < 600px) {
    .flex_menu{
        text-align: center ;
    }
}


@media (1200px <= width) {
    .name{
        margin-bottom: 0px;
        margin-top: 50px;
    }
}
@media (600px <= width < 1200px) {
    .name{
        margin-bottom: 0px;
        margin-top: 0px;
    }
}
@media (width < 600px) {
    .name{
        margin-bottom: 0px;
        margin-top: 0px;
    }
}


.text{
    line-height: 80%;
}


@media (1200px <= width) {
    .photo2{
        width: 80px;
        height: 80px;
        margin-top: 50px;
        margin-right: 10px;
        text-align:center
    }
}
@media (600px <= width < 1200px) {
    .photo2{
        width: 80px;
        height: 80px;
        margin-top: 50px;
        margin-right: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align:center
    }
}
@media (width < 600px) {
    .photo2{
        width: 80px;
        height: 80px;
        margin-top: 50px;
        margin-right: 10px;
        margin-left: auto;
        margin-right: auto;
        text-align:center
    }
}


.about{
    margin-top: 50px;
    text-align:center
}
.information{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align:center
}

@media (1200px <= width) {
    .flex_box{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
    }
}
@media (600px <= width < 1200px) {
    .flex_box{
        text-align: center;
    }
}
@media (width < 600px) {
    .flex_box{
        text-align: center;
    }
}

@media (1200px <= width) {
    .image{
        width: 200px;
        height: 150px;
        object-fit: cover;
    }
}
@media (600px <= width < 1200px) {
    .image{
        width: 400px;
        height: 400px;
        padding: 10px;
        object-fit: cover;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (width < 600px) {
    .image{
        width: 100%;
        height: 250px;
        padding: 10px;
        object-fit: cover;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
    }
}


.text2{
    margin-bottom: 0;
    margin-top: 10px;
}